<%= render 'shared/errors', object: user %>

<form action="<%= user_form_url(user) %>" method="post" accept-charset="utf-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <% if user.persisted? %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="user[username]"
               id="username" value="<%= @user.username %>">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="user_password">Password</label>
        <input type="password" name="user[password]" id="user_password">
      </div>
    </div>
  </div>

  <input type="submit" value="<%= user_submit_text(user) %>"
         class="btn btn-success">
</form>