<h1><%= @link.title %></h1>
<ul class="nav nav-pills">
  <% @link.subs.each do |sub| %>
    <li><%= link_to sub.name, sub %></li>
  <% end %>
</ul>
<hr/>
<p> <%= link_to @link.url, @link.url %></p>
<%= simple_format(@link.description) %>

<h2>Comments</h2>
<hr/>
<ul class="comments">
  <% @comments[0].each do |comment| %>
    <%= render comment, comment_children: @comments %>
  <% end %>
</ul>

<%= render 'comments/form', comment: @comment, link: @link %>