<h1><%= @link.title %></h1>
<ul class="nav nav-pills">
  <% @link.subs.each do |sub| %>
    <li><%= link_to sub.name, sub %></li>
  <% end %>
</ul>
<hr/>

<div class="row">
  <div class="col-md-6">
    <p><%= link_to @link.url, @link.url %></p>
    <%= simple_format(@link.description) %>
  </div>
  <div class="col-md-6">
    <div class="link-popularity">
      Popularity
      <span class="badge"><%= @link.popularity %></span>
    </div>
    <% if current_user %>
      <div class="link-vote-controls">
        <%= button_to 'Like', upvote_link_url,
            class: 'btn btn-success', method: :patch %>
        <%= button_to 'Dislike', downvote_link_url,
            class: 'btn btn-danger', method: :patch %>
      </div>
    <% end %>
  </div>
</div>

<h2>Comments</h2>
<hr/>
<ul class="comments" id="comments-list">
  <% @comments[0].each do |comment| %>
    <%= render comment, comment_children: @comments %>
  <% end %>
</ul>

<% if current_user %>
  <%= render 'comments/form', comment: @comment, link: @link %>

  <% content_for(:page_bottom) do %>
    <%= javascript_include_tag 'comments' %>
  <% end %>
<% end %>
